[mariadb]
bind-address=0.0.0.0 # skip ipv6
innodb_buffer_pool_size = 10M
innodb_log_buffer_size = 512K # default / 2
innodb_log_file_size = 8M
aria_log_file_size = 8M
lower_case_table_names = 1
key_buffer_size = 4194304 # default / 2
