name: lint
on: pull_request

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    name: shellcheck
    steps:
      - uses: actions/checkout@v2
      - name: install shellcheck
        env:
          scversion: stable
        run: |
          wget -qO- "https://github.com/koalaman/shellcheck/releases/download/${scversion?}/shellcheck-${scversion?}.linux.x86_64.tar.xz" | tar -xJ
          sudo cp "shellcheck-${scversion}/shellcheck" /usr/local/bin/
      - name: test bats suite
        run: shellcheck -s bash test/*.bats test/*.bash sh/*.bash
      - name: test utility scripts
        run: shellcheck -s dash sh/*.sh
  hadolint:
    runs-on: ubuntu-latest
    name: hadolint
    steps:
      - uses: actions/checkout@v2
      - uses: brpaz/hadolint-action@master
  prettier:
    runs-on: ubuntu-latest
    name: prettier
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: "14.x"
      - name: install prettier
        run: which prettier || npm install -g prettier
      - name: run prettier
        run: prettier -c .
